.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.counter{
  margin: 50px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  gap: 30px;
}

.button button{
  padding: 10px 50px 10px 50px;
  font-size: 40px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.black {
  color: black;
}